:root {
  --ifm-color-primary: #EB6F02;
  --ifm-color-primary-dark: #D65F02;
  --ifm-color-primary-darker: #C15502;
  --ifm-color-primary-darkest: #A04601;
  --ifm-color-primary-light: #F0801A;
  --ifm-color-primary-lighter: #F59133;
  --ifm-color-primary-lightest: #FAC34C;
  --ifm-color-secondary: #03838F;
  --ifm-color-secondary-dark: #027A85;
  --ifm-color-secondary-darker: #026E78;
  --ifm-color-secondary-darkest: #015A62;
  --ifm-color-secondary-light: #049199;
  --ifm-color-secondary-lighter: #05A3A8;
  --ifm-color-secondary-lightest: #07B5BA;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #EB6F02;
  --ifm-color-primary-dark: #D65F02;
  --ifm-color-primary-darker: #C15502;
  --ifm-color-primary-darkest: #A04601;
  --ifm-color-primary-light: #F0801A;
  --ifm-color-primary-lighter: #F59133;
  --ifm-color-primary-lightest: #FAC34C;
  --ifm-color-secondary: #03838F;
  --ifm-color-secondary-dark: #027A85;
  --ifm-color-secondary-darker: #026E78;
  --ifm-color-secondary-darkest: #015A62;
  --ifm-color-secondary-light: #049199;
  --ifm-color-secondary-lighter: #05A3A8;
  --ifm-color-secondary-lightest: #07B5BA;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Hide navbar title */
.navbar__title {
  display: none;
}

/* Add primary color line below navbar */
.navbar {
  border-bottom: 1px solid var(--ifm-color-primary);
}

/* Make navbar logo bigger */
.navbar__brand img {
  height: 30px;
  width: auto;
}

/* Darker footer background */
.footer {
  background-color: #111;
  border-top: 1px solid var(--ifm-color-primary);
}